.topo_menu {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 100vh;
}

div.busca {
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  max-width: 350px;
  min-width: 200px;
}

.dashboard-lateral {
  padding-bottom: 30px;
}

.menu_lateral {
  text-transform: uppercase;
  padding-top: 12px;
}

.imagem-dashboard {
  width: 122px;
  margin-left: 41px;
}

.info-person {
  text-align: center;
  padding-top: 22px;
}

.person-nome {
  padding-bottom: 18px;
  font-weight: bold;
  color: #42b6a5;
}

.cabecalho {
  background-color: #fff !important;
  box-shadow: 0 0 11px rgba(0, 0, 0, 0.2);
  padding: 0;
  height: 70px;
  width: 100%;
}

.topo-conteudo {
  padding-top: 10px;
  text-align: center;
}

.descricao-pagina {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;
  color: #42b6a5;
}

.descricao-consulta {
  text-transform: uppercase;
  margin-top: 12px;
  font-size: 20px;
  font-weight: bold;
  color: #42b6a5;
}

.descricao_paciente {
  text-align: left;
}

.conteudo_principal {
  background-color: #fff;
  margin: 0% 2% 4%;
  margin-top: 20px;
  height: 100%;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
}

.header_medico {
  text-transform: uppercase;
  font-size: 18px;
  padding-top: 20px;
  padding-bottom: 10px;
  font-weight: bold;
  color: black;
}

.header_selecionar_horario {
  text-transform: uppercase;
  font-size: 18px;
  margin-top: 20px;
  padding-bottom: 10px;
  font-weight: bold;
  color: black;
}

.header_descricao_consulta {
  text-transform: uppercase;
  font-size: 18px;
  padding-bottom: 10px;
  margin-top: 10px;
  font-weight: bold;
  color: black;
}

.data_picker {
  margin-left: 20px;
  margin-top: 20px;
}

.conteudo_home {
  background-color: #f0f2f5;
  margin: 8px 43px 33px;
}

.modal_consulta {
  text-transform: uppercase;
  text-align: left;
  font-weight: bold;
}

.modal_consulta > div > div > div.ant-modal-title {
  color: #42b6a5;
  font-weight: bold;
  text-align: center;
}

.modal_paciente {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.modal_paciente > div > div > div.ant-modal-title {
  color: #42b6a5;
  font-weight: bold;
  text-align: center;
}

.agenda_home {
  margin-bottom: 70px;
}

.row_cards_home {
  text-align: center;
  margin-top: 25px;
}

.row_cards_agenda {
  text-align: center;
  margin-top: 200px;
}

.card_titulo_agenda {
  text-transform: uppercase;
  padding-top: 10px;
  padding-right: 30px;
  font-size: 25px;
  font-weight: bold;
  color: #42b6a5;
}

.link_agenda_desabilitado {
  pointer-events: none;
  opacity: 0.15;
}

.link_paciente_desabilitado {
  opacity: 0.2;
}

.col_cards_home {
  margin-bottom: 10px;
}

.card_home {
  text-transform: uppercase;
  margin-right: 40px !important;
  font-weight: bold;
  border: 1px solid #42b6a5 !important;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
}

.cards_medicos {
  width: 276px;
  text-transform: uppercase;
  margin-top: 16px !important;
  margin-left: 8px !important;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
}

.card_agenda {
  margin-right: 40px !important;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
}

.card_paciente {
  width: 280px;
  text-transform: uppercase;
  margin-top: 16px !important;
  margin-left: 8px !important;
  padding-left: 8px !important;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
}

.descricoes_card_nome > div > div {
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 17px;
  text-align: center;
  color: #42b6a5 !important;
}

.descricoes_card_nome_inativo > div > div {
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 17px;
  text-align: center;
  color: black !important;
  text-decoration: line-through !important;
}

.descricoes_card {
  padding-bottom: 5px;
  font-weight: bold;
  font-size: 15px;
}

.valor_card {
  font-size: 30px;
  margin-bottom: 4px;
}

.imagem_card_home {
  width: 70px;
}

.imagens_agenda {
  width: 150px;
}

.descricao_card {
  padding-left: 8px;
}

table {
  text-transform: uppercase;
  font-size: 15px;
}

.icones_agenda_status_esperando {
  color: gray;
}

.icones_agenda_status_finalizado {
  color: green;
}

.icones_agenda_status_cancelado {
  color: red;
}

div.calendario {
  top: 42%;
  left: 50%;
  display: block;
  position: absolute;
  margin-top: -285.5px;
  margin-left: -136px;
  background-color: #fefefe;
}

.steps-content {
  margin-top: 16px;
  border: 1px dashed #e9e9e9;
  border-radius: 6px;
  background-color: #fafafa;
  min-height: 400px;
  /* max-height: 600px; */
  text-align: center;
  padding-top: 80px;
}

.steps-action {
  margin-top: 24px;
}

button {
  background-color: #42b6a5 !important;
  color: #ffffff !important;
  border-color: #42b6a5 !important;
}

div.labelNascimento {
  border-color: #d9d9d9;
  background-color: #fafafa !important;
  border-style: solid;
  border-width: 1px;
  font-weight: normal;
  padding: 0 5 5 5;
  padding-left: 10px;
}
